In [324]:
import os
import json
import pandas as pd
import seaborn as sns
from datetime import datetime
import numpy as np
import matplotlib.pylab as plt

In [325]:
SBA_Loan = pd.read_csv('SBA_Loan_test.csv')

In [365]:
DF_SBA_Loan = SBA_Loan.copy()
DF_SBA_Loan

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv,Industry
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,1997-02-28,1997,...,Y,NaN,28-Feb-99,60000.0,0.0,P I F,0.0,60000.0,48000.0,Retail trade
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,1997-02-28,1997,...,Y,NaN,31-May-97,40000.0,0.0,P I F,0.0,40000.0,32000.0,Accommodation and food services
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,1997-02-28,1997,...,N,NaN,31-Dec-97,287000.0,0.0,P I F,0.0,287000.0,215250.0,Health care and social assistance
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,1997-02-28,1997,...,Y,NaN,30-Jun-97,35000.0,0.0,P I F,0.0,35000.0,28000.0,Undefined
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,1997-02-28,1997,...,N,NaN,14-May-97,229000.0,0.0,P I F,0.0,229000.0,229000.0,Undefined
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899159,9995573004,FABRIC FARMS,UPPER ARLINGTON,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451120,1997-02-27,1997,...,N,NaN,30-Sep-97,70000.0,0.0,P I F,0.0,70000.0,56000.0,Retail trade
899160,9995603000,FABRIC FARMS,COLUMBUS,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451130,1997-02-27,1997,...,N,NaN,31-Oct-97,85000.0,0.0,P I F,0.0,85000.0,42500.0,Retail trade
899161,9995613003,"RADCO MANUFACTURING CO.,INC.",SANTA MARIA,CA,93455,"RABOBANK, NATIONAL ASSOCIATION",CA,332321,1997-02-27,1997,...,N,NaN,30-Sep-97,300000.0,0.0,P I F,0.0,300000.0,225000.0,Manufacturing
899162,9995973006,"MARUTAMA HAWAII, INC.",HONOLULU,HI,96830,BANK OF HAWAII,HI,0,1997-02-27,1997,...,Y,8-Mar-00,31-Mar-97,75000.0,0.0,CHGOFF,46383.0,75000.0,60000.0,Undefined
899163,9996003010,PACIFIC TRADEWINDS FAN & LIGHT,KAILUA,HI,96734,CENTRAL PACIFIC BANK,HI,0,1997-02-27,1997,...,N,NaN,31-May-97,30000.0,0.0,P I F,0.0,30000.0,24000.0,Undefined

In [366]:
#Keeping just the first 2 digits in the NAICS column of DF_SBA_Loan
DF_SBA_Loan[DF_SBA_Loan["NAICS"] == 0]
DF_SBA_Loan.drop(DF_SBA_Loan[DF_SBA_Loan["NAICS"] == 0].index, inplace=True)

In [367]:
a = [str(x) for x in np.array(DF_SBA_Loan["NAICS"])]
a = [s[:2] for s in a]
DF_SBA_Loan["NAICS"] = [int(x) for x in a]

In [368]:
DF_SBA_Loan = DF_SBA_Loan[['State', 'Bank', 'BankState', 'NAICS', 'ApprovalFY', 'NewExist', 'MIS_Status', 'SBA_Appv']] #'UrbanRural', 'LowDoc' left out
DF_SBA_Loan = DF_SBA_Loan.reset_index(drop=True)
DF_SBA_Loan

,State,Bank,BankState,NAICS,ApprovalFY,NewExist,MIS_Status,SBA_Appv
0,IN,FIFTH THIRD BANK,OH,45,1997,2.0,P I F,48000.0
1,IN,1ST SOURCE BANK,IN,72,1997,2.0,P I F,32000.0
2,IN,GRANT COUNTY STATE BANK,IN,62,1997,1.0,P I F,215250.0
3,CT,"TD BANK, NATIONAL ASSOCIATION",DE,33,1997,1.0,P I F,387750.0
4,FL,REGIONS BANK,AL,81,1997,2.0,P I F,36000.0
...,...,...,...,...,...,...,...,...
697211,MD,BANK OF AMERICA NATL ASSOC,MD,33,1997,1.0,P I F,25000.0
697212,CA,U.S. BANK NATIONAL ASSOCIATION,CA,31,1997,1.0,P I F,150000.0
697213,OH,JPMORGAN CHASE BANK NATL ASSOC,IL,45,1997,1.0,P I F,56000.0
697214,OH,JPMORGAN CHASE BANK NATL ASSOC,IL,45,1997,1.0,P I F,42500.0
697215,CA,"RABOBANK, NATIONAL ASSOCIATION",CA,33,1997,1.0,P I F,225000.0

In [369]:
DF_SBA_Loan.drop(DF_SBA_Loan[DF_SBA_Loan['NewExist'] == 0].index, inplace=True)

In [370]:
# DF_SBA_Loan['UrbanRural'].value_counts()
# DF_SBA_Loan[DF_SBA_Loan['UrbanRural'] == 0]
# sns.countplot(x='UrbanRural', data=DF_SBA_Loan, hue='RevLineCr')
# DF_SBA_Loan['MIS_Status'].value_counts()

In [371]:
NAICS_BDS = pd.read_csv('NAICS_BDS_timeseries_data.csv', low_memory=False)
NAICS_BDS = NAICS_BDS.drop([0])

In [372]:
NAICS_BDS.head()

,GEO_ID,NAME,NAICS,NAICS_LABEL,YEAR,FIRM,ESTAB,EMP,DENOM,ESTABS_ENTRY,...,JOB_DESTRUCTION_DEATHS,JOB_DESTRUCTION_CONTINUERS,JOB_DESTRUCTION_RATE_DEATHS,JOB_DESTRUCTION_RATE,NET_JOB_CREATION,NET_JOB_CREATION_RATE,REALLOCATION_RATE,FIRMDEATH_FIRMS,FIRMDEATH_ESTABS,FIRMDEATH_EMP
1,0100000US,United States,00,Total for all sectors,1978,3557994,4310626,69410001,66810001,654226,...,4048046,5420961,6.059,14.173,5196537,7.778,28.346,327278,332504,1824251
2,0100000US,United States,00,Total for all sectors,1979,3692077,4472108,73848234,71727111,630253,...,3760616,6043218,5.243,13.668,4248257,5.923,27.336,328024,332633,1785478
3,0100000US,United States,00,Total for all sectors,1980,3739809,4533251,74109267,74018218,592484,...,4246135,7797198,5.737,16.271,188937,0.255,32.542,368578,373754,1941422
4,0100000US,United States,00,Total for all sectors,1981,3770852,4615479,75728652,74924061,606853,...,3478843,7782399,4.643,15.030,1609104,2.148,30.060,377291,383748,2005707
5,0100000US,United States,00,Total for all sectors,1982,3720273,4598769,74922226,75267274,572030,...,4055239,8683755,5.388,16.925,-678350,-0.901,32.048,412488,418501,2211944

In [432]:
DF_NAICS = NAICS_BDS.copy()
DF_NAICS.drop(DF_NAICS[(DF_NAICS.NAICS == '00')].index, inplace=True)

In [433]:
DF_NAICS.isnull().sum()

GEO_ID                         0
NAME                           0
NAICS                          0
NAICS_LABEL                    0
YEAR                           0
FIRM                           0
ESTAB                          0
EMP                            0
DENOM                          0
ESTABS_ENTRY                   0
ESTABS_ENTRY_RATE              0
ESTABS_EXIT                    0
ESTABS_EXIT_RATE               0
JOB_CREATION                   0
JOB_CREATION_BIRTHS            0
JOB_CREATION_CONTINUERS        0
JOB_CREATION_RATE_BIRTHS       0
JOB_CREATION_RATE              0
JOB_DESTRUCTION                0
JOB_DESTRUCTION_DEATHS         0
JOB_DESTRUCTION_CONTINUERS     0
JOB_DESTRUCTION_RATE_DEATHS    0
JOB_DESTRUCTION_RATE           0
NET_JOB_CREATION               0
NET_JOB_CREATION_RATE          0
REALLOCATION_RATE              0
FIRMDEATH_FIRMS                0
FIRMDEATH_ESTABS               0
FIRMDEATH_EMP                  0
dtype: int64

In [434]:
DF_NAICS.drop(DF_NAICS[(DF_NAICS.NAICS == '31-33') | (DF_NAICS.NAICS == '44-45') | (DF_NAICS.NAICS == '48-49')].index, inplace=True)

In [435]:
DF_NAICS = DF_NAICS.append([NAICS_BDS[NAICS_BDS["NAICS"] == '31-33']]*3, ignore_index=True)
DF_NAICS = DF_NAICS.append([NAICS_BDS[NAICS_BDS["NAICS"] == '44-45']]*2, ignore_index=True)
DF_NAICS = DF_NAICS.append([NAICS_BDS[NAICS_BDS["NAICS"] == '48-49']]*2, ignore_index=True)

In [436]:
DF_NAICS

,GEO_ID,NAME,NAICS,NAICS_LABEL,YEAR,FIRM,ESTAB,EMP,DENOM,ESTABS_ENTRY,...,JOB_DESTRUCTION_DEATHS,JOB_DESTRUCTION_CONTINUERS,JOB_DESTRUCTION_RATE_DEATHS,JOB_DESTRUCTION_RATE,NET_JOB_CREATION,NET_JOB_CREATION_RATE,REALLOCATION_RATE,FIRMDEATH_FIRMS,FIRMDEATH_ESTABS,FIRMDEATH_EMP
0,0100000US,United States,11,"Agriculture, forestry, fishing and hunting",1978,23763,24429,200156,192326,4717,...,18829,27500,9.790,24.089,15439,8.028,48.178,2876,2905,12497
1,0100000US,United States,11,"Agriculture, forestry, fishing and hunting",1979,21765,22373,192288,191325,4178,...,22142,30446,11.573,27.486,1716,0.897,54.972,3022,3068,14659
2,0100000US,United States,11,"Agriculture, forestry, fishing and hunting",1980,21882,22500,193997,193979,3827,...,16453,31944,8.482,24.950,-108,-0.056,49.788,2780,2780,11264
3,0100000US,United States,11,"Agriculture, forestry, fishing and hunting",1981,21862,22468,189977,193065,3514,...,20576,31625,10.658,27.038,-6316,-3.271,47.533,2696,2699,11719
4,0100000US,United States,11,"Agriculture, forestry, fishing and hunting",1982,19040,19695,173515,178279,2775,...,20541,31150,11.522,28.995,-9420,-5.284,47.421,3176,3180,14178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961,0100000US,United States,48-49,Transportation and warehousing,2015,153822,202631,4591409,4499301,27612,...,171575,293097,3.813,10.328,184677,4.105,20.655,13968,14152,66039
962,0100000US,United States,48-49,Transportation and warehousing,2016,156798,207273,4717118,4655107,26860,...,185955,301012,3.995,10.461,122484,2.631,20.922,15547,15803,107251
963,0100000US,United States,48-49,Transportation and warehousing,2017,157752,208815,4853859,4781787,25053,...,165899,336049,3.469,10.497,148348,3.102,20.994,16484,16750,77042
964,0100000US,United States,48-49,Transportation and warehousing,2018,162121,213126,5018707,4936647,26681,...,151173,323218,3.062,9.610,164146,3.325,19.219,16025,16271,80700
965,0100000US,United States,48-49,Transportation and warehousing,2019,167380,219301,5403829,5212963,28479,...,130910,281802,2.511,7.917,372049,7.137,15.834,18213,18495,88434

In [437]:
# DF_NAICS[DF_NAICS["NAICS"] == '31-33']
temp_array = [31]*42 + [32]*42 + [33]*42
temp_array
DF_NAICS = DF_NAICS.replace({'NAICS' : { '31-33' : temp_array}})
temp_array = [44]*42 + [45]*42
DF_NAICS = DF_NAICS.replace({'NAICS' : { '44-45' : temp_array}})
temp_array = [48]*42 + [49]*42
DF_NAICS = DF_NAICS.replace({'NAICS' : { '48-49' : temp_array}})

In [467]:
DF_NAICS.iloc[513]

NAICS                     62
YEAR                    1987
FIRM                  430636
DENOM                9348439
ESTABS_ENTRY           49276
ESTABS_EXIT            38632
JOB_CREATION         1808327
JOB_DESTRUCTION            S
REALLOCATION_RATE          S
FIRMDEATH_ESTABS       28562
FIRMDEATH_EMP         228128
Name: 513, dtype: object

In [439]:
Keep_Columns_DF_NAICS = ['NAICS', 'YEAR', 'FIRM', 'DENOM', 'ESTABS_ENTRY', 'ESTABS_EXIT', 'JOB_CREATION', 'JOB_DESTRUCTION', 'REALLOCATION_RATE', 'FIRMDEATH_ESTABS', 'FIRMDEATH_EMP']
DF_NAICS = DF_NAICS[Keep_Columns_DF_NAICS]

In [449]:
# for column_name in Keep_Columns_DF_NAICS:
#     DF_NAICS[column_name] = [int(x) for x in DF_NAICS[column_name]]
DF_NAICS["NAICS"] = [int(x) for x in DF_NAICS["NAICS"]]
DF_NAICS["YEAR"] = [int(x) for x in DF_NAICS["YEAR"]]
DF_NAICS["FIRM"] = [int(x) for x in DF_NAICS["FIRM"]]
DF_NAICS["DENOM"] = [int(x) for x in DF_NAICS["DENOM"]]
DF_NAICS["ESTABS_ENTRY"] = [int(x) for x in DF_NAICS["ESTABS_ENTRY"]]
DF_NAICS["ESTABS_EXIT"] = [int(x) for x in DF_NAICS["ESTABS_EXIT"]]
DF_NAICS["JOB_CREATION"] = [int(x) for x in DF_NAICS["JOB_CREATION"]]

# DF_NAICS["YEAR"] = [int(x) for x in DF_NAICS["YEAR"]]
# DF_NAICS["YEAR"] = [int(x) for x in DF_NAICS["YEAR"]]

In [466]:
# DF_NAICS["JOB_DESTRUCTION"] = [int(x) for x in DF_NAICS["JOB_DESTRUCTION"]]
# for x in range(len(DF_NAICS["JOB_DESTRUCTION"])):
#     print(x)
#     print(type(int(DF_NAICS["JOB_DESTRUCTION"][x])))
#     print(x)
DF_NAICS.iloc[513]

NAICS                     62
YEAR                    1987
FIRM                  430636
DENOM                9348439
ESTABS_ENTRY           49276
ESTABS_EXIT            38632
JOB_CREATION         1808327
JOB_DESTRUCTION            S
REALLOCATION_RATE          S
FIRMDEATH_ESTABS       28562
FIRMDEATH_EMP         228128
Name: 513, dtype: object

In [381]:
# Merging Dataset based on NAICS category and dates: Year from DF_NAICS and ApprovalFY from DF_SBA_Loan
DF_SBA_Loan = DF_SBA_Loan.rename(columns={"ApprovalFY": "YEAR"})
print(DF_SBA_Loan.shape)
print(DF_NAICS.shape)

(696486, 8)
(966, 29)

In [383]:
df_merged_NAICS_SBALoan = pd.merge(DF_SBA_Loan, DF_NAICS,  how='left', left_on=['NAICS','YEAR'], right_on = ['NAICS','YEAR'])
df_merged_NAICS_SBALoan[df_merged_NAICS_SBALoan]

,State,Bank,BankState,NAICS,YEAR,NewExist,MIS_Status,SBA_Appv,GEO_ID,NAME,...,JOB_DESTRUCTION_DEATHS,JOB_DESTRUCTION_CONTINUERS,JOB_DESTRUCTION_RATE_DEATHS,JOB_DESTRUCTION_RATE,NET_JOB_CREATION,NET_JOB_CREATION_RATE,REALLOCATION_RATE,FIRMDEATH_FIRMS,FIRMDEATH_ESTABS,FIRMDEATH_EMP
0,IN,FIFTH THIRD BANK,OH,45,1997,2.0,P I F,48000.0,0100000US,United States,...,747048,1291441,5.428,14.810,323242,2.348,29.621,68270,73384,349798
1,IN,1ST SOURCE BANK,IN,72,1997,2.0,P I F,32000.0,0100000US,United States,...,728799,999306,7.963,18.881,166457,1.819,37.761,44187,45776,441164
2,IN,GRANT COUNTY STATE BANK,IN,62,1997,1.0,P I F,215250.0,0100000US,United States,...,580382,1052575,4.575,12.874,310446,2.447,25.747,34539,35763,328510
3,CT,"TD BANK, NATIONAL ASSOCIATION",DE,33,1997,1.0,P I F,387750.0,0100000US,United States,...,588001,1084271,3.611,10.269,163707,1.005,20.539,21921,22142,255029
4,FL,REGIONS BANK,AL,81,1997,2.0,P I F,36000.0,0100000US,United States,...,246060,448692,5.059,14.283,106211,2.184,28.567,41400,42290,156087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
696481,MD,BANK OF AMERICA NATL ASSOC,MD,33,1997,1.0,P I F,25000.0,0100000US,United States,...,588001,1084271,3.611,10.269,163707,1.005,20.539,21921,22142,255029
696482,CA,U.S. BANK NATIONAL ASSOCIATION,CA,31,1997,1.0,P I F,150000.0,0100000US,United States,...,588001,1084271,3.611,10.269,163707,1.005,20.539,21921,22142,255029
696483,OH,JPMORGAN CHASE BANK NATL ASSOC,IL,45,1997,1.0,P I F,56000.0,0100000US,United States,...,747048,1291441,5.428,14.810,323242,2.348,29.621,68270,73384,349798
696484,OH,JPMORGAN CHASE BANK NATL ASSOC,IL,45,1997,1.0,P I F,42500.0,0100000US,United States,...,747048,1291441,5.428,14.810,323242,2.348,29.621,68270,73384,349798
696485,CA,"RABOBANK, NATIONAL ASSOCIATION",CA,33,1997,1.0,P I F,225000.0,0100000US,United States,...,588001,1084271,3.611,10.269,163707,1.005,20.539,21921,22142,255029

In [470]:
# Part:1 - Considering
df_merged_NAICS_SBALoan[df_merged_NAICS_SBALoan["NAICS"] == 62]

,State,Bank,BankState,NAICS,YEAR,NewExist,MIS_Status,SBA_Appv,GEO_ID,NAME,...,JOB_DESTRUCTION_DEATHS,JOB_DESTRUCTION_CONTINUERS,JOB_DESTRUCTION_RATE_DEATHS,JOB_DESTRUCTION_RATE,NET_JOB_CREATION,NET_JOB_CREATION_RATE,REALLOCATION_RATE,FIRMDEATH_FIRMS,FIRMDEATH_ESTABS,FIRMDEATH_EMP
2,IN,GRANT COUNTY STATE BANK,IN,62,1997,1.0,P I F,215250.0,0100000US,United States,...,580382,1052575,4.575,12.874,310446,2.447,25.747,34539,35763,328510
10,FL,BANESCO USA,FL,62,1997,1.0,P I F,56000.0,0100000US,United States,...,580382,1052575,4.575,12.874,310446,2.447,25.747,34539,35763,328510
16,TX,THE FROST NATIONAL BANK,TX,62,1997,1.0,P I F,450000.0,0100000US,United States,...,580382,1052575,4.575,12.874,310446,2.447,25.747,34539,35763,328510
25,VA,UNION FIRST MARKET BANK,VA,62,1997,2.0,P I F,28000.0,0100000US,United States,...,580382,1052575,4.575,12.874,310446,2.447,25.747,34539,35763,328510
28,MA,BANK OF AMERICA NATL ASSOC,RI,62,1997,1.0,P I F,12500.0,0100000US,United States,...,580382,1052575,4.575,12.874,310446,2.447,25.747,34539,35763,328510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
696458,OK,FIRST COMMERCIAL BANK,OK,62,1997,2.0,P I F,198750.0,0100000US,United States,...,580382,1052575,4.575,12.874,310446,2.447,25.747,34539,35763,328510
696466,IL,"PNC BANK, NATIONAL ASSOCIATION",IL,62,1997,1.0,P I F,300000.0,0100000US,United States,...,580382,1052575,4.575,12.874,310446,2.447,25.747,34539,35763,328510
696474,GA,GE CAP. SMALL BUS. FINAN CORP,TX,62,1997,1.0,P I F,749547.0,0100000US,United States,...,580382,1052575,4.575,12.874,310446,2.447,25.747,34539,35763,328510
696478,MN,WELLS FARGO BANK NATL ASSOC,SD,62,1997,1.0,P I F,126750.0,0100000US,United States,...,580382,1052575,4.575,12.874,310446,2.447,25.747,34539,35763,328510
696480,NY,FLUSHING BANK,NY,62,1997,1.0,P I F,96000.0,0100000US,United States,...,580382,1052575,4.575,12.874,310446,2.447,25.747,34539,35763,328510